{% extends "base.html" %}

{% block content %}
{% if item %}
    <div class="request-item">
        <h3>{{item.title}}</h3>
        <p>Status: {{item.status}}</p>
        <p>Images: {{item.images.count()}}/{{item.count}}</p>
        <div class="owl-carousel">
            {% for image in item.images %}
                <div class="item">
                    <img src="{{ url_for('static', filename = 'images/'+image.file_name) }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            margin: 10,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        });
    </script>
{% else %}
<p>Nothing to show...</p>
{% endif %}
{% endblock %}
